body {
  background-image: url("bg.png");
  background-size: cover;
}

/* utiliy classes */
.text-center {
  text-align: center;
}
.py-1 {
  padding: 1rem 0;
}

.buttn {
  width: 400px;
  margin: 0 auto;
}

.title {
  padding: 5px;
}

.field-row {
  width: 300px;
  margin: 10px auto;
}

.container {
  width: 80%;
  margin: auto;
  background: brown;
}

.app > div {
  text-align: center;
}

body {
  background-color: gray;
}

#l_r {
  margin: 0;
}
