body {
  box-sizing: border-box;
}

h3 {
  margin: 0px;
}

/* utiliy classes */
.text-center {
  text-align: center;
}
.py-1 {
  padding: 1rem 0;
}

.butt {
  width: 400px;
}

.mybar {
  /* width: 400px; */
  margin-top: 10px;
  padding: 2px 0px 2px 0px;
}

.title {
  padding: 5px;
}

.slidecontainer {
  width: 400px;
  margin: 0 auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  margin: 10px 0px;
}

.butt {
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: auto;
  background: brown;
}

.app > div {
  text-align: center;
}

body {
  background-color: gray;
}
